/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

header {
    background: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 20px;
}

/* Pantallas */
.pantalla {
    display: none;
}

.pantalla.active {
    display: block;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Diseño del plan diario */
#dia-container {
    margin-top: 20px;
}

.dia {
    background: #f4f4f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.dia h3 {
    color: #4CAF50;
    margin: 0;
    cursor: pointer;
}

.dia-content {
    display: none;
    padding: 10px;
}

.dia-content.active {
    display: block;
}

.reto h4 {
    font-size: 16px;
    margin: 5px 0;
}

.reto-list {
    list-style: none;
    padding: 0;
}

.reto-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.reto-list li span {
    flex: 1;
    margin-left: 10px;
}

.reto-list input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}
